@page "/"
@using Models
@using Services
@using Microsoft.AspNetCore.Components.QuickGrid

@inject HRMSService Service

<PageTitle>Dashboard</PageTitle>

<div>
    <h2>Active Jobs</h2>
    <QuickGrid TGridItem="Job" Items="@ActiveJobs">
        <PropertyColumn Property="@(job => job.PIN)" Sortable="true" />
    </QuickGrid>    
</div>

<div>
    <h2>New Applicants</h2>
</div>

@code{
    private IQueryable<Job>? ActiveJobs ;

    protected override void OnInitialized()
    {
        ActiveJobs = Service.GetActiveJobs().AsQueryable<Job>();
    }
}